<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-securescreen" version="1.0.0"
	xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android">
	<name>SecureScreen</name>
	<engines>
		<engine name="cordova" version="&gt;=3.0.0" />
	</engines>
	<js-module name="SecureScreen" src="www/SecureScreen.js">
		<clobbers target="window.plugins.SecureScreen" />
	</js-module>
	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="secureScreen">
				<param name="android-package" value="com.securescreen.SecureScreen" />
				<param name="onload" value="true" />
			</feature>
		</config-file>
		<config-file parent="/*" target="AndroidManifest.xml" />
		<source-file src="src/android/com/securescreen/SecureScreen.java" target-dir="src/com/securescreen" />
	</platform>
	<platform name="ios">
		<config-file parent="/*" target="config.xml">
			<feature name="SecureScreen">
				<param name="ios-package" value="SecureScreen" />
			</feature>
		</config-file>
		 <header-file src="src/ios/SecureScreen.h"/>
		<source-file src="src/ios/SecureScreen.m" />
	</platform>
</plugin>